  
<!-- https://github.com/JTruax/bootstrap-starter-template/blob/master/template/start.html -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">
        <img alt="Feito!" src="/static/media/feito_ico.png"
        width="40" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'core:index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastros</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="/cad/">Lista Pessoas (s)</a>
                    <a class="dropdown-item" href="/cad/s">Pesquisa Pessoas (s)</a>
                    <a class="dropdown-item" href="/cad/p">Pesquisa Pessoas (p)</a>
                    <a class="dropdown-item" href="/cad/n">Nova Pessoa</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/cad/muni">Importação de Municípios</a>
                    <a class="dropdown-item" href="#">Something else here</a>                
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Comercial</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <a class="dropdown-item" href="/com/orcamento/list">Lista de Orçamentos (s)</a> 
                    <a class="dropdown-item" href="/com/orcamento/new">Novo Orçamento (s)</a> 
                    <div class="dropdown-divider"></div>    
                    <a class="dropdown-item" href="/com/pedido/list/">Lista de Pedidos (s)</a> 
                    <a class="dropdown-item" href="/com/pedido/new/">Novo Pedido (s)</a>      
                    <div class="dropdown-divider"></div>        
                    <a class="dropdown-item" href="/com/entrega/list">Lista de Entregas (s)</a> 
                    <a class="dropdown-item" href="/com/entrega/new">Nova Entrega (s)</a> 

                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Produtos</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                    <a class="dropdown-item" href="/prod/s">Pesquisa Produtos</a>
                    <a class="dropdown-item" href="/prod/n">Novo Produto</a>
                    <div class="dropdown-divider"></div>                    
                    <a class="dropdown-item" href="#">Something else here</a>                
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Compras</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                    <a class="dropdown-item" href="/ent/nf/list">Pesquisa notas de entrada</a>
                    <a class="dropdown-item" href="/ent/nf/new">Nova nota de entrada</a>
                    <div class="dropdown-divider"></div>                    
                    <a class="dropdown-item" href="/ent/oc/list">Pesquisa Ordens de Compra</a>
                    <a class="dropdown-item" href="/ent/oc/new">Nova Ordem de Compra</a>     
                    <div class="dropdown-divider"></div>                    
                    <a class="dropdown-item" href="/ent/oc/list">Pesquisa Solicitações de Materiais</a>
                    <a class="dropdown-item" href="/ent/oc/new">Nova Solicitação de material</a>            
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Estoque</a>
                <div class="dropdown-menu" aria-labelledby="dropdown06">
                    <a class="dropdown-item" href="/est/list">Movimentação de estoque</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Produção</a>
                <div class="dropdown-menu" aria-labelledby="dropdown07">
                    <a class="dropdown-item" href="/pr/op/list">Pesquisa Ordem de Produção</a>
                    <a class="dropdown-item" href="/pr/op/new">Ordem de Produção</a>
                    <a class="dropdown-item" href="/pr/pdf" target="_new">PDF</a>
                    <a class="dropdown-item" href="/pr/rpt_op" target="_new">imprime OP</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Financeiro</a>
                <div class="dropdown-menu" aria-labelledby="dropdown08">
                    <a class="dropdown-item" href="/fin/cp/list">Contas a Pagar</a>
                    <div class="dropdown-divider"></div>   
                    <a class="dropdown-item" href="/fin/cr/list">Contas a Receber</a>
                </div>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Relatórios</a>
                <div class="dropdown-menu" aria-labelledby="dropdown08">
                    <a class="dropdown-item" href="/rel/label">Etiquetas de volumes</a>
                    <div class="dropdown-divider"></div>   
                    <a class="dropdown-item" href="/fin/cr/list">Contas a Receber</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Configurações</a>
                <div class="dropdown-menu" aria-labelledby="dropdown05">
                    <a class="dropdown-item" href="/admin">Acesso Admin</a>
                    <div class="dropdown-divider"></div> 
                    <a class="dropdown-item" href="/cyber">Importação do Cybersul</a>
                    <div class="dropdown-divider"></div> 
                    <a class="dropdown-item" href="/cad/muni">Importar Cidades do IBGE</a>               
                </div>
            </li>

        </ul>

        {% if user.is_authenticated %}
          <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
              <a class="nav-link" href="/accounts/logout">Sair</a>
            </li>
          </ul>
        {% endif %}
    </div>
</nav>