<table id="pedidos-table" class="table">
    <thead>
    <tr>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">Número</th>
      <th class="text-center" scope="col">Status</th>
      <th class="text-center" scope="col">Cliente</th>
      <th class="text-center" scope="col">Data Cad.</th>
      <th class="text-center" scope="col">Previsao</th>
      <th class="text-center" scope="col">Valor Total</th>
      <th class="text-center" scope="col">Valor Entregue</th>
      <th class="text-center" scope="col">Saldo.</th>
      <th class="text-center" scope="col">Read / Update / Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for ped in pedidos %}
      <tr>
        <th class="text-center" scope="row">{{ forloop.counter }}</th>
        <td class="text-center">{{ ped.num }}</td>
        <td class="text-center">{{ ped.status }}</td>
        <td class="text-center">{{ ped.cliente }}</td>
        <td class="text-center">{{ ped.data_cadastro|date:"SHORT_DATE_FORMAT" }}</td>
        <td class="text-center">{{ ped.data_previsao|date:"SHORT_DATE_FORMAT"}}</td>
        <td class="text-center">{{ ped.valor_total_pedido }}</td>
        <td class="text-center">{{ ped.valor_total_entregue }}</td>
        <td class="text-center">{{ ped.valor_total_saldo }}</td>
        <td class="text-center">
          <!-- Read book buttons -->
          <button type="button" class="read-pedido btn btn-sm btn-primary" data-form-url="{% url 'comercial:pedido_read' ped.pk %}">
            <span class="fa fa-eye"></span>
          </button>
          <!-- Update book buttons -->
          <button type="button" class="update-pedido btn btn-sm btn-primary" data-form-url="{% url 'comercial:pedido_update' ped.pk %}">
            <span class="fa fa-pencil"></span>
          </button>
          <!-- open pedido full -->
          <button type="button" id='pedido-full' class="pedido-full btn btn-sm btn-primary" data-form-url="{% url 'comercial:pedido_full' ped.pk %}">
            <span class="fa fa-pencil"></span>
          </button>
          <!-- Delete book buttons -->
          <button type="button" class="delete-pedido btn btn-sm btn-danger" data-form-url="{% url 'comercial:pedido_delete' ped.pk %}">
            <span class="fa fa-trash"></span>
          </button>
        </td>
      </tr>
    {% endfor %}
  
    </tbody>
  </table>