<table id="pedidos-table" class="table">
    <thead>
    <tr>
      <th class="text-center chkAll" scope="col"><input type="checkbox" onclick="toggle(this);"></th>
      <th class="text-center" scope="col">Número</th>
      <th class="text-center" scope="col">Status</th>
      <th class="text-center" scope="col">Cliente</th>
      <th class="text-center" scope="col">Data Cad.</th>
      <th class="text-center" scope="col">Previsao</th>
      <th class="text-center" scope="col">Valor Total</th>
      <th class="text-center" scope="col">Valor Entregue</th>
      <th class="text-center" scope="col">Saldo.</th>
      <th class="text-center" scope="col">Read / Update / Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for ped in pedidos %}
      <tr>
        <td class="text-center chk" ><input type="checkbox" name="chk" value="{{ ped.pk }}"></td>
        <td class="text-center">{{ ped.num }}</td>
        <td class="text-center">{{ ped.status }}</td>
        <td class="text-center">{{ ped.cliente }}</td>
        <td class="text-center">{{ ped.data_cadastro|date:"SHORT_DATE_FORMAT" }}</td>
        <td class="text-center">{{ ped.data_previsao|date:"SHORT_DATE_FORMAT"}}</td>
        <td class="text-center">{{ ped.valor_total_pedido }}</td>
        <td class="text-center">{{ ped.valor_total_entregue }}</td>
        <td class="text-center">{{ ped.valor_total_saldo }}</td>
        <td class="text-center">
          <!-- open pedido full -->
          <button type="button" id='pedido-full' class="pedido-full btn btn-sm btn-primary" data-form-url="{% url 'comercial:pedido_detail' ped.pk %}">
            <span class="fa fa-pencil"></span>
          </button>
          <!-- Delete book buttons -->
          <button type="button" class="delete-pedido btn btn-sm btn-danger" data-form-url="{% url 'comercial:pedido_delete' ped.pk %}">
            <span class="fa fa-trash"></span>
          </button>
        </td>
      </tr>
    {% endfor %}
  
    </tbody>
  </table>