{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'select2/css/select2.css' %}">
    <link rel="stylesheet" href="{% static 'autocomplete_light/select2.css' %}">
    <link href="{% static '/css/feito.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}

<div class="jumbotron">
    <form method="post" id="form">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                <h1>Orçamento de Vendas</h1 >
            </div>

            <div class="form-group col-md-6 mb-0">
                <button type="submit" name="act" value="save" class="btn btn-primary">Salvar</button>
                <a href="/com/orcamento/new"> <button type="button" class="btn btn-primary">Novo</button></a>
                <a href="/com/orcamento/search"> <button type="button" class="btn btn-primary">Pesquisar</button></a>
                <button type="button" id="delete" class="btn btn-primary">Deletar</button>
                <button type="button" name="nfe" id="gera-pedido" class="btn btn-primary">Gera pedido</button>
            </div>
        </div>

        <div class="form-row">

            <div class="form-group col-md-2 mb-0">
                {{ form.num_orc|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ form.num_orc_cli|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0 " >
                {{ form.data_cadastro|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ form.status|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ form.origem|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0 ">
                {{ form.data_previsao|as_crispy_field }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4 mb-0">
                {{ form.cliente|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ form.operacao|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ form.vencimentos|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ form.previsao_entrega|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ form.validade_orcamento|as_crispy_field }}
            </div>
        </div>

        <div class="form-row">    
            <div class="form-group col-md-2 mb-0">
                {{ form.tipo_frete|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.transportadora|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ form.valor_total_produtos|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ form.valor_frete|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ form.valor_total_orcamento|as_crispy_field }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-2 mb-0">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pesquisa-prod">Pesquisar Produtos</button>
            </div>
        </div>

        <div id="orcamento-itens">
        {% include "comercial/orcamento_itens_table.html" %}
        </div>

        <div class="form-row"></div>
            <div class="form-group col-md-12 mb-0">
                {{ form.obs|as_crispy_field }}
            </div>
        </div> 

        <div class="form-row" ></div>
            <div class="form-group col-md-2 mb-0"></div>
                <div id="orcamento-id">{{ orcamento_id }}</div>
                <div id="prod-selected"></div>
            </div>
        </div>


    </form>
</div>


{% include "comercial/orcamento_prod_search.html" %}

{% endblock content %}

{% block extrascripts %}

{{ form.media }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.full.js"></script> 

<script>

$(function () {
    $("#modalFeito").click(function(event){
        event.preventDefault();
        if ($("#orcamento-id").text()){
                //$("#form").submit();
                $("#pesquisa-prod").modal('show');
            }
        else {  
            $("#form").submit();
        }
    });

    $("#pesquisar").click(function(event){
        var pesq = $("#pesquisa").val();
        $.ajax({
            type: "GET",
            url: "{% url 'comercial:orcamento_prod_search' %}",
            data: {"pesquisa": pesq},
            success: function(result){
                $("#prod-tab").html(result) 
            },
            error: function(error){
                alert(error)
            }

        })
    });

    $("#prod-tab").on("click", ".btnSelect", function(event){
        event.preventDefault();
        var currentRow = $(this).closest("tr"); 
        var prod = currentRow.find("td:eq(0)").text();
        var orcamento = $("#orcamento-id").text();
        $.ajax({
            type: "GET",
            url: "{% url 'comercial:orcamento_item_add' %}",
            data: {"produto": prod, "orcamento": orcamento},
            success: function(result){
                location.reload();
                $("#pesquisa-prod").modal('toggle'); 
            },
            error: function(error){
                alert(error)
            }
        });
    });

    $("#itens-table").on("click", ".delete-item", function(event){
        event.preventDefault();
        var currentRow = $(this).closest("tr"); 
        var item_id = currentRow.find("td:eq(8) input").val();
        alert(item_id);
        $.ajax({
            type: "GET",
            url: "{% url 'comercial:orcamento_item_delete' %}",
            data: {"item_id": item_id},
            success: function(result){
                location.reload();
            },
            error: function(error){
                alert("Não foi possivel completar o processo")
            }
        });
    }); 

    $("#gera-pedido").click(function(event){
        var orcamento_id = $("#orcamento-id").text();
        $.ajax({
            type: "GET",
            url: "{% url 'comercial:orcamento_pedido_add' %}",
            data: {"orcamento_id": orcamento_id},
            success: function(result){
                alert("Pedido criado")
            },
            error: function(error){
                alert("não foi possível criar o pedido")
            }
        })
    });

    $("#delete").click(function(event){
        var orcamento_id = $("#orcamento-id").text();
        $.ajax({
            type: "GET",
            url: "{% url 'comercial:orcamento_delete' %}",
            data: {"orcamento_id": orcamento_id},
            success: function(result){
                alert("Orçamento Excluído com sucesso")
            },
            error: function(error){
                alert("O orçamento não pode ser excluído")
            }

        })
    });

    
})







</script>

{% endblock extrascripts %}