{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}

{% include "comercial/_modal.html" %}
<div class="container-fluid mt-1">
  <div class="row">
    <div class="col">
      <h4>
        <strong>Lista de Pedidos</strong>
      </h4>
      
      <div class="row">
        <div class="col-12 mb-3">
          <form method="get" id="acao_lote">
            {{ lote.opcoes|as_crispy_field }}
          </form>
          <button type="button" class="btn btn-primary" onclick="lote(this);">Executar</button>
          <button id="pedido-new" class="btn btn-primary" type="button" name="button">
            <span class="fa fa-plus mr-2"></span>Novo pedido</button>
          <button id="filter-pedido" class="filter-pedido btn btn-primary" type="button" name="button" data-form-url="{% url 'comercial:pedido_filter' %}">
            <span class="fa fa-filter mr-2"></span>Filtrar pedidos
          </button>
        </div>

        <div class="col-12 mb-3">
        {% if 'type' in request.GET %}
          <p class="filtered-books">Filtered books.</p>
        {% endif %}
        {% include "comercial/_pedidos_table.html" %}
        </div>
      </div>
    </div>
  </div>
</div>




{% endblock content %}

{% block extrascripts %}

<script type="text/javascript">
  $(".pedido-full").click(function(){ 
  var url = $(this).attr('data-form-url');
  console.log(url);
  window.open(url, '_self');
  })

  $("#pedido-new").click(function(){ 
    //var url = $(this).attr('data-form-url');
    let url = "{% url 'comercial:pedido_new' %}"
    //console.log(url);
    window.open(url, '_self');
  })

</script>

  <script type="text/javascript">

      $(function () {
          // Create pedido synchronous
          function createBookSyncModalForm() {
            $("#create-pedido-sync").modalForm({
                formURL: "{% url 'comercial:pedido_create' %}",
                modalID: "#create-modal"
            });
          }
          createBookSyncModalForm();

          // Create pedido asynchronous button
          // message
          var asyncSuccessMessageCreate = [
            "<div ",
            "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
            "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
            "Success: pedido was created.",
            "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
            "<span aria-hidden='true'>&times;</span>",
            "</button>",
            "</div>",
            "<script>",
            "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
            "<\/script>"
          ].join("");

          // modal form
          function createBookAsyncModalForm() {
            $("#create-pedido-async").modalForm({
                formURL: "{% url 'comercial:pedido_create' %}",
                modalID: "#create-modal",
                asyncUpdate: true,
                asyncSettings: {
                  closeOnSubmit: true,
                  successMessage: asyncSuccessMessageCreate,
                  dataUrl: "pedidos",
                  dataElementId: "#pedidos-table",
                  dataKey: "table",
                  addModalFormFunction: reinstantiateModalForms
                }
            });
          }
          createBookAsyncModalForm();

          // Update pedido asynchronous button
          // message
          var asyncSuccessMessageUpdate = [
            "<div ",
            "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
            "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
            "Success: pedido was updated.",
            "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
            "<span aria-hidden='true'>&times;</span>",
            "</button>",
            "</div>",
            "<script>",
            "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
            "<\/script>"
          ].join("");

          // modal form
          function updateBookModalForm() {
            $(".update-pedido").each(function () {
              $(this).modalForm({
                formURL: $(this).data("form-url"),
                asyncUpdate: true,
                asyncSettings: {
                  closeOnSubmit: false,
                  successMessage: asyncSuccessMessageUpdate,
                  dataUrl: "pedidos",
                  dataElementId: "#pedidos-table",
                  dataKey: "table",
                  addModalFormFunction: reinstantiateModalForms
                }
              });
            });
          }
          updateBookModalForm();

          

          




            // Delete pedido buttons - formURL is retrieved from the data of the element
          function deleteBookModalForm() {
            $(".delete-pedido").each(function () {
                $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
            });
          }
          deleteBookModalForm();

          // Read pedido buttons
          function readBookModalForm() {
            $(".read-pedido").each(function () {
                $(this).modalForm({formURL: $(this).data("form-url")});
            });
          }
          readBookModalForm();

          function reinstantiateModalForms() {
            createBookAsyncModalForm();
            readBookModalForm();
            updateBookModalForm();
            deleteBookModalForm();
          }

          // Filter books button
          $("#filter-pedido").each(function () {
              $(this).modalForm({formURL: $(this).data("form-url")});
          });

          // Hide message
          $(".alert").fadeTo(2000, 500).slideUp(500, function () {
              $(".alert").slideUp(500);
          });
      });
  </script>



<script>

function toggle(source) {
  var checkboxes = document.querySelectorAll('input[type="checkbox"]');
  for (var i = 0; i < checkboxes.length; i++) {
      if (checkboxes[i] != source)
          checkboxes[i].checked = source.checked;
  }
}

function lote(source) {
  let checkboxes = document.querySelectorAll('input[name="chk"]:checked');
  let lote_opt = document.getElementById("id_opcoes").value
  let values = [];
  checkboxes.forEach((checkbox) => {
      values.push(checkbox.value);
  });
  console.log(values);
  console.log(lote_opt);
  send_lote(values, lote_opt)
} 

function send_lote(chkeds, opt) {

  let data = new FormData();
  data.append('chkeds', chkeds);;
  data.append('opt', opt);
  // add form input from hidden input elsewhere on the page
  data.append('csrfmiddlewaretoken', '{{ csrf_token }}')

  console.log(JSON.stringify(data))

  fetch("{% url 'comercial:pedido_lote' %}", {
      method: 'POST',
      body: data,
      credentials: 'same-origin',
      headers: {"X-CSRFToken": '{{ csrf_token }}'}
  }).then((response) => {
      console.log(response)
  }).then((res) => {
      if (res.status === 201) {
          console.log("Post successfully created!")
          console.log(res.resp)
      }
  }).catch((error) => {
      console.log(error)
  })
}

</script>
{% endblock extrascripts %}
