<head>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
</head>

{% extends "base.html" %}

{% load render_table from django_tables2 %}

{% block content %}
<div class="page-header">
    <h2><i class="fa fa user"></i>Lista de Produtos</h2>
    {% render_table table %}
</div>

<script src="{% static 'assets/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<!-- You can alternatively load the minified version -->
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

{% endblock content %}