{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Sistema Gerencial Feito!!</h1>
        <p>Módulo de importação/sincronização com o sistema Cybersul</p>
        <p><a href="/cad/muni">Importar Cidades do IBGE</a></p>
        <p><a href="/cyber/sincpessoa">Importar cadastro de parceiros</a></p>
        <p>-----------------------------------------------</p>
        <p><a href="/cyber/sincunid">Sincronizar Unidades</a></p>
        <p><a href="/cyber/sincncm">Sincronizar NCM</a></p> 
        <p><a href="/cyber/sincgrupos">Sincronizar Grupos</a></p>
        <p><a href="/cyber/sincprod">Sincronizar Produtos</a></p>   
        <p><a href="/cyber/sinccomposicao">Sincronizar Composicao</a></p>
        <p>-----------------------------------------------</p>
        <p><a href="/cyber/sincoperacao">Sincronizar Operacoes</a></p>
        <p><a href="/cyber/sinc_nf_e">Sincronizar NF Entrada</a></p> 
        <p><a href="/cyber/sinc_nf_ei">Sincronizar Itens das NFs entrada</a></p>
        <p>-----------------------------------------------</p>
        <p><a href="/cyber/sincoperacao_saida">Sincronizar Operacoes Saída</a></p>
        <p><a href="/cyber/sinc_nf_s">Sincronizar NF Saída</a></p> 
        <p><a href="/cyber/sinc_nf_si">Sincronizar Itens das NFs Saída</a></p>
        
        {{ context }}
    </div>
</div>
{% endblock content %}