label {
    display: inline-block;
    margin-bottom: 0;
}

/* CSS used here will be applied after bootstrap.css */

.modal{
    display: block !important;
  }
  .modal-dialog{
      overflow-y: initial !important
  }
  .modal-body{
  height: 250px;
  overflow-y: auto;
  }