
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div>
    <h1>Cadastro de parceiros</h1>
    {% crispy form %}
    </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $("#id_estado").change(function () {
      var url = ("{% url 'cadastro:cidades' %}");  // get the url of the `load_cities` view
      var estadoId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'estado': estadoId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_municipio").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
</script>

{% endblock %}