{% extends "base.html" %}

{% block content %}

{% include "estoque/_modal.html" %}
<div class="container-fluid mt-1">
  <div class="row">
    <div class="col">
      <h4>
        <strong>Movimentação do estoque</strong>
      </h4>
      
      <div class="row">
        <div class="col-12 mb-3">
          <button id="create-pedido-sync" class="btn btn-primary" type="button" name="button">
            <span class="fa fa-plus mr-2"></span>Novo OP (Sinc)
          </button>
          <button id="create-pedido-async" class="btn btn-primary" type="button" name="button">
            <span class="fa fa-plus mr-2"></span>Novo OP Asynchronous
          </button>
          <button id="filter-pedido" class="filter-pedido btn btn-primary" type="button" name="button" data-form-url="{% url 'comercial:pedido_filter' %}">
            <span class="fa fa-filter mr-2"></span>Filtrar OPs
          </button>
        </div>

        <div class="col-12 mb-3">
        {% if 'type' in request.GET %}
          <p class="filtered-books">Filtered books.</p>
        {% endif %}
        {% include "estoque/estoque_list_table.html" %}
        </div>
      </div>
    </div>
  </div>
</div>




{% endblock content %}

{% block extrascripts %}

<script type="text/javascript">
  $(".detail").click(function(){
    var url = $(this).attr('data-form-url');
    location.href = url  
  })

  $(".read").click(function(){
    var url = $(this).attr('data-form-url');
    $(this).modalForm({formURL: $(this).data("form-url")}); 
  })

</script>

  <script type="text/javascript">

      $(function () {
          // Create pedido synchronous
          function createBookSyncModalForm() {
            $("#create-pedido-sync").modalForm({
                formURL: "{% url 'comercial:pedido_create' %}",
                modalID: "#create-modal"
            });
          }
          createBookSyncModalForm();

          // Create pedido asynchronous button
          // message
          var asyncSuccessMessageCreate = [
            "<div ",
            "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
            "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
            "Success: pedido was created.",
            "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
            "<span aria-hidden='true'>&times;</span>",
            "</button>",
            "</div>",
            "<script>",
            "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
            "<\/script>"
          ].join("");

          // modal form
          function createBookAsyncModalForm() {
            $("#create-pedido-async").modalForm({
                formURL: "{% url 'comercial:pedido_create' %}",
                modalID: "#create-modal",
                asyncUpdate: true,
                asyncSettings: {
                  closeOnSubmit: true,
                  successMessage: asyncSuccessMessageCreate,
                  dataUrl: "pedidos",
                  dataElementId: "#pedidos-table",
                  dataKey: "table",
                  addModalFormFunction: reinstantiateModalForms
                }
            });
          }
          createBookAsyncModalForm();

          // Update pedido asynchronous button
          // message
          var asyncSuccessMessageUpdate = [
            "<div ",
            "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
            "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
            "Success: pedido was updated.",
            "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
            "<span aria-hidden='true'>&times;</span>",
            "</button>",
            "</div>",
            "<script>",
            "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
            "<\/script>"
          ].join("");

          // modal form
          function updateBookModalForm() {
            $(".update-pedido").each(function () {
              $(this).modalForm({
                formURL: $(this).data("form-url"),
                asyncUpdate: true,
                asyncSettings: {
                  closeOnSubmit: false,
                  successMessage: asyncSuccessMessageUpdate,
                  dataUrl: "pedidos",
                  dataElementId: "#pedidos-table",
                  dataKey: "table",
                  addModalFormFunction: reinstantiateModalForms
                }
              });
            });
          }
          updateBookModalForm();

          

          




            // Delete pedido buttons - formURL is retrieved from the data of the element
          function deleteBookModalForm() {
            $(".delete-pedido").each(function () {
                $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
            });
          }
          deleteBookModalForm();

          // Read pedido buttons
          function readBookModalForm() {
            $(".read-pedido").each(function () {
                $(this).modalForm({formURL: $(this).data("form-url")});
            });
          }
          readBookModalForm();

          function reinstantiateModalForms() {
            createBookAsyncModalForm();
            readBookModalForm();
            updateBookModalForm();
            deleteBookModalForm();
          }

          // Filter books button
          $("#filter-pedido").each(function () {
              $(this).modalForm({formURL: $(this).data("form-url")});
          });

          // Hide message
          $(".alert").fadeTo(2000, 500).slideUp(500, function () {
              $(".alert").slideUp(500);
          });
      });
  </script>
{% endblock extrascripts %}