{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container-fluid mt-1">
  <div class="row">
    <h4>
      <strong>Lista de Notas de Entrada</strong>
    </h4>
  </div>

  <div class="row">
      <button id="filter-pedido" class="filter-pedido btn btn-primary" type="button" name="button" data-form-url="{% url 'entradas:nf_entrada_filter' %}">
        <span class="fa fa-filter mr-2"></span>Filtrar
      </button>
  </div>

  {% include "entradas/nf_entrada_list_table.html" %}

</div>

<div class="modal fade" id="filtro" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg " role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title" id="send_mail">Filtrar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      
      <div class="modal-body">
        <div class="container" id="filtro">
          <form method="get" id="filtro-form">
            {{ lista.form|crispy }}
            <button type="submit" class="btn btn-primary" >Filtrar</button>
          </form>
        </div> 
      </div>          
    </div>
  </div>
</div>

{% endblock content %}

{% block extrascripts %}

<script type="text/javascript">

  $(".detail").click(function(){
    var url = $(this).attr('data-form-url');
    location.href = url  
  });

  $(".read").click(function(){
    var url = $(this).attr('data-form-url');
    $(this).modalForm({formURL: $(this).data("form-url")}); 
  });

  $("#filter-pedido").click(function () {
    $("#filtro").modal('toggle')
  });
</script>


{% endblock extrascripts %}