


<table id="list-table" class="table">
  <thead>
    <tr>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">Número</th>
      <th class="text-center" scope="col">Data de Emissão</th>
      <th class="text-center" scope="col">Status</th>
      <th class="text-center" scope="col">Operacao</th>
      <th class="text-center" scope="col">Fornecedor</th>
      <th class="text-center" scope="col">Valor da nota</th>
      <th class="text-center" scope="col">Obs</th>
      <th class="text-center" scope="col">Ver</th>
    </tr>
  </thead>
  <tbody>
    {% for it in page_obj %}
      <tr>
        <th class="text-center" scope="row">{{ forloop.counter }}</th>
        <td class="text-center">{{ it.num }}</td>
        <td class="text-center">{{ it.data_emissao|date:"SHORT_DATE_FORMAT"}}</td>
        <td class="text-center">{{ it.status }}</td>
        <td class="text-center">{{ it.operacao }}</td>
        <td class="text-center">{{ it.parceiro }}</td>
        <td class="text-center">{{ it.valor_total_nota }}</td>
        <td class="clamp">{{ it.obs }}</td>
        <td class="text-center">
          <!-- Read book buttons
          <button type="button" class="read btn btn-sm btn-primary" data-form-url="{% url 'entradas:nf_entrada_read' it.pk %}">
            <span class="fa fa-eye"></span>
          </button>
          -->
          <!-- open pedido full -->
          <button type="button" id='detail' class="detail btn btn-sm btn-primary" data-form-url="{% url 'entradas:nf_entrada_detail' it.pk %}" >
            <span class="fa fa-pencil"></span>
          </button>
        </td>
      </tr>
    {% endfor %}

  </tbody>
</table>

  <div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if page_obj.has_other_pages %}
          {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="/ent/nf/list?page={{ page_obj.previous_page_number }}">Anterior</a></li>
          {% else %}
            <li class="disabled page-link"><span>Anterior</span></li>
          {% endif %}
          {% for i in page_obj.paginator.get_elided_page_range %}
            {% if page_obj.number == i %}
              <li class="page-item active">
                <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="/ent/nf/list?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li><a class="page-link" href="/ent/nf/list?page={{ page_obj.next_page_number }}">Próxima</a></li>
          {% else %}
            <li class="disabled"><span>Próxima</span></li>
          {% endif %}

        {% endif %}
      </ul>
    </nav>
  </div>

