{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="jumbotron">
    <form method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                <h1>Cadastro de Produtos</h1>
            </div>
            <div class="form-group col-md-6 mb-0">
                <button type="submit" name="act" value="save" class="btn btn-primary">Salvar</button>
                <a href="/prod/n"> <button type="button" class="btn btn-primary">Novo</button></a>
                <a href="/prod/s"> <button type="button" class="btn btn-primary">Pesquisar</button></a>
                <button type="submit" name="act" value="delete" class="btn btn-primary">Deletar</button>
                <button type="submit" name="act" value="composition" class="btn btn-primary">Composição</button>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3 mb-0">
                {{ form.tipoProduto|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.grupo|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.subGrupo|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.cod|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">

            <div class="form-group col-md-8 mb-0">
                {{ form.desc|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.compl|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4 mb-0">
                {{ form.unid|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.fatorUnid|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.unid2|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.tipoProduto|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.pLiq|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.pBrt|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3 mb-0">
                {{ form.prAq|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.prVenda|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.prCusto|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.cmv|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3 mb-0">
                {{ form.qEstoque|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.qEstMin|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.qMult|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.qEco|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3 mb-0">
                {{ form.pzEnt|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.qEstMax|as_crispy_field }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3 mb-0">
                {{ form.origemFiscal|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.ipiCompra|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.ipiVenda|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.icmsCompra|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.icmsVenda|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.ncm|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.origFiscal|as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.tipoTributacao|as_crispy_field }}
            </div>
        </div>
        <div class="form-row"></div>
            <div class="form-group col-md-12 mb-0">
                {{ form.obs|as_crispy_field }}
            </div>
        </div>

        
    </form>
</div>
{% endblock %}